<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Calculate Brakes Configurations> </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
	

    <link href="../static/styles/style.css" rel="stylesheet" type="text/css">



</head><h1>Brakes System Configurator</h1>
<body>
    <h1>Calculate Brakes Configurations</h1>

    <h2>Vehicle Data Inputs</h2>
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="vehicleWeight" placeholder="vehicle weight with driver [lbs]" required="required" type="num" /> <br>
        <input type="text" name="frontTireDiameter" placeholder="front tire diameter [in]" required="required" type="num"/> <br>
        <input type="text" name="rearTireDiameter" placeholder="rear tire diameter [in]" required="required" type="num"/> <br>
        <input type="text" name="wheelbase" placeholder="wheelbase length [in]" required="required" type="num"/> <br>
        <input type="text" name="forwardWeightDistribution" placeholder="forward weight distribution [%]" required="required" type="num"/> <br>
        <input type="text" name="centerOfGravityHeight" placeholder="center of gravity height [in]" required="required" type="num"/> <br>

        <h2>Brake Data Inputs Hi</h2>
        <h3>Leave Blank to Have the Program Select For You</h3>
        <input type="text" name="brakePedalRatio" placeholder="brake pedal ratio" type="num"/> <br>
        <input type="text" name="brakeBias" placeholder="brake bias" type="num" /> <br>
        <input type="text" name="frontMasterCylinder" placeholder="front master cylinder size [in]" type="num"/> <br>
        <input type="text" name="rearMasterCylinder" placeholder="rear master cylinder size [in]" type="num" /> <br>
        <input type="text" name="frontCaliper" placeholder="front caliper piston area [in^2]" type="num" /> <br>
        <input type="text" name="rearCaliper" placeholder="rear caliper piston area [in^2]" type="num" /> <br>
        <input type="text" name="frontRotorOuter" placeholder="front rotor outer radius [in]" type="num" /> <br>
        <input type="text" name="rearRotorOuter" placeholder="rear rotor outer radius [in]" type="num"/> <br>
        
        <h2>User Prefrence Inputs</h2>
        <input type="text" name="factorOfSafety" placeholder="factor of safety" type="num"/> <br>
        <input type="text" name="priority" placeholder="priority" type="num"/> <br>


        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate</button>
        <br>
    </form>

    

    <!-- </form>
    <form action = "/inputs">
        <input type="text" name = "Factor of Safety" id = "fos" placeholder="Enter your desired factor of safety" />
        <button type="submit">Submit</button>
    </form> -->

    <br>
    <br>

    {{ prediction_text }}


</body>
</html>