<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Calculate Brakes Configurations> </title>
    <link href="{{ url_for('static', filename = 'styles.css')}}" rel="stylesheet" />

</head>
<body>
    <h1>Calculate Brakes Configurations</h1>
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="a" placeholder="Enter the first number" required="required" />
        <input type="text" name="b" placeholder="Enter the second number" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate</button>
    </form>
    <!-- </form>
    <form action = "/inputs">
        <input type="text" name = "Factor of Safety" id = "fos" placeholder="Enter your desired factor of safety" />
        <button type="submit">Submit</button>
    </form> -->

    <br>
    <br>

    {{ prediction_text }}


</body>
</html>